<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="UTF-8">
    <title>Application</title>
    <!-- Container for meta data is not displayed
         Title, Styles, Link, Scripts,Meta and other
     -->
    <meta name = "Nelson">
</head>
<body>


Welcome Home !!!

<h1>Spring Boot</h1>
<h2>Spring Boot</h2>
<h3>Spring Boot</h3>
<h4>Spring Boot</h4>

<h1 align="center" style=" color: coral">Spring Framework</h1>

<img src="twitter.png">

<ul>
    <li>MVC</li>
    <li>ORM</li>
    <li>API</li>
</ul>

<a href="https://etsy.com ">Etsy</a>

<table>
    <tr>
        <td>Loop</td>
        <td>Collections</td>
        <td>Stream</td>

    </tr>

    <tr>
        <td>IOC</td>
        <td>DI</td>
        <td>Value</td>

    </tr>
</table>

<!--Forms-->
<label>User Name:</label>
<input type="text" name="username"><br>
<label>Password:</label>
<input type="password"><br>
<label>Enter your comments:</label>
<textarea name = "comments"></textarea>
<br>
<br>
<label>Please select your favorite subject</label>
<br>

<input type="radio" name="Spring" value="IOC"  checked="checked">IOC
<input type="radio" name="Spring" value="Di" checked="checked">DI
<input type="radio" name="Spring" value="MVC" checked="checked">MVC

<br>
<br>
<label>Please select your company:</label>
<input type="checkbox" name="company" value="Bank of America"> BOA
<input type="checkbox" name="company" value="Southwest Airlines"> SWA
<input type="checkbox" name="company" value="Limited">LTD
<br>
<br>
<label>Select your car:</label>
<select name="cars">

    <option value="Honda">Civic</option>
    <option value="Mercedes">A180</option>
    <option value="Toyota">Yaris</option>
</select>

<form action="#" method="get">
    First Name: <input type="text" name="first_name">
    <br>
    Last Name: <input type="text" name="last_name">
</form>
<div>
    <h3> This is something special </h3>
    <li>Spring Framework</li>
    <li>Security</li>
    <li>Unit Testing</li>
</div>

</body>
</html>